addons:
  apt:
    packages:
      - pandoc
      - pandoc-citeproc

# Skip the installation step
install: true

script:
  - pandoc -o index.html --bibliography=bibliography.yaml -t html5 -Ss README.md

deploy:
  provider: pages
  skip_cleanup: true
  github_token: $GITHUB_TOKEN
  target_branch: gh-pages
  on:
    branch: master
