# Required for pandoc-citeproc
dist: trusty
sudo: false

# We don't need a build environment
language: generic

addons:
  apt:
    packages:
      - pandoc
      - pandoc-citeproc

# Skip the installation step
install: true

script:
  - pandoc -o index.html --bibliography=bibliography.yaml -t html5 --toc --toc-depth=2 -Ss README.md

deploy:
  provider: pages
  skip_cleanup: true
  github_token: $GITHUB_TOKEN
  target_branch: gh-pages
  on:
    branch: master
