addons:
  apt:
    packages:
      - pandoc

# Skip the installation step
install: true

script:
  - pandoc -o index.html README.md

deploy:
  provider: pages
  skip_cleanup: true
  github_token: $GITHUB_TOKEN
  target_branch: gh-pages
  on:
    branch: master
